@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kablammo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  margin: 0%;
  padding: 0%;
  font-family: "Nunito Sans", sans-serif;
}
.container{
  background-color: palegoldenrod;
  width: 70%;
  margin: auto;
  min-height: 100vh;
  padding: 8vmax;
  box-sizing: border-box;
}

.container form{
  display: flex;
  flex-direction: column;
}

.container h1{
  text-align: center;
  margin: 20px;
}

form input,textarea,button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.338);
  border-radius: 5px;
  margin: 15px 0;
}

button{
  background-color: rgb(27, 20, 20);
  color: aliceblue;
  font-size: large;
}
form button{
  max-width: 100px;
}

.task{
  display: flex;
  align-items:center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 0;
}
.task div{
  width: 100%;
}
.task span{
  color: rgba(0, 0, 0, 0.399);
}
.task button{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task button:hover{
  background-color: rgb(102, 100, 100);
}